[submodule "Obsidian-Tasks-Calendar"]
	path = Obsidian-Tasks-Calendar
	url = git@github.com:joelvaneenwyk/obsidian-tasks-calendar.git
	branch = develop
[submodule "Obsidian-Tasks-Timeline"]
	path = Obsidian-Tasks-Timeline
	url = git@github.com:joelvaneenwyk/obsidian-tasks-timeline.git
	branch = develop
